<div class="top-bar row">
  <div class="col d-block d-sm-none">
    <a href="#" >
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="col">
    {{> logo/logo logo}}
  </div>
  <div class="col d-none d-sm-block">
    <ul class="row">
      <li class="col"><a href="#/about">About</a></li>
      <li class="col"><a href="#/services">Services</a></li>
      <li class="col"><a href="#/events">Events</a></li>
      <li class="col"><a href="#/contacts">Contacts</a></li>
    </ul>
  </div>

  <div class="col d-none d-sm-block">
    <ul class="row">
      <li class="col"><a href="#/about"><i class="fab fa-facebook-f"></i></a></li>
      <li class="col"><a href="#/services"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</div>